.sidebar {
  float: right;
  color: whitesmoke;
  margin: 5px;
  border: 10px solid red;
  padding: 15px;
  width: 20%;
  background-color: black;
}
.column {
  width: 300px;
  float: left;
}

img {
  height: 337px;
}